#page__projects {
  @extend %page;

  color: $color-white;
  background-color: $color-black;
  z-index: 17;

  overflow: hidden;
}

.project__previews {
  position: absolute;
  top: 15%;
  left: 15%;
  display: flex;
  z-index: 1;
}

.project__preview {
  width: 60rem;
  height: 40rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.preview__img-wrapper {
  width: 100%;
  height: 100%;
}

.preview__img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.preview__img-inner {
  width: 100%;
  height: 100%;
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#pjt-1 {
  background-image: url(https://assets.website-files.com/62f4dd003ef1495b1bb8f3a0/62f4f6201cd426577274fab1_and-machines-SZd_V4A8gYo-unsplash.jpg);
}

#pjt-2 {
  background-image: url(https://assets.website-files.com/62f4dd003ef1495b1bb8f3a0/62f4f62034d6a56dd03cced8_and-machines-odNU0f3jmUg-unsplash.jpg);
}

#pjt-3 {
  background-image: url(https://assets.website-files.com/62f4dd003ef1495b1bb8f3a0/62f4f620dbc7f7e7db222488_and-machines-YLplJ9m_RKE-unsplash.jpg);
}

.project__title-preview {
  @extend %text-40;

  font-variation-settings: 'wght' 100;
  width: 100%;
  margin-top: 1rem;
}

.project__contents {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project__content {
  @extend %page;

  top: 0;
  left: 0;
  padding: 15rem 30rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas: 'image info' 'details details';

  opacity: 0;
}

.preview__img {
  grid-area: image;
}

.project__info {
  grid-area: info;

  display: flex;
  flex-direction: column;
}

.project__title-content {
  @extend %text-50;

  font-variation-settings: 'wght' 800;

  span {
    display: block;
  }
}

.title-wrapper,
.intro-wrapper,
.detail-wrapper,
.stack-wrapper,
.period-wrapper {
  overflow: hidden;
}

.detail-wrapper {
  margin-bottom: 1rem;

  li::before {
    content: '';
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    background-color: $color-white;
    position: absolute;
    left: 0;
    top: 0.9rem;
  }

  li {
    padding-left: 2rem;
  }
}

.detail-inner {
  display: flex;
  align-items: center;
}

.project__intro {
  margin: 4rem 0;

  span {
    display: block;
  }
}

.project__link-section-wrapper {
  margin-top: 3rem;
}

.project__link-section {
  margin-right: 1rem;
  display: inline-block;

  &.blog {
    margin-right: 2.4rem;
  }
}

.project__links {
  padding-bottom: 0.5rem;
  .project__link:not(:last-child) {
    margin-right: 1rem;
  }
}

.project__link {
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: 1px solid $color-white;
}

.project__stack {
  margin: 2rem 0 auto;
}

.stack-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.stack {
  @extend %text-13;

  padding: 0.3rem 0.8rem;
  margin: 0 1rem 1rem 0;
  color: $color-black;
  background-color: $color-white;
}

.project__details {
  grid-area: details;
}

.link {
  color: $color-amber !important;

  &.indent {
    margin-left: 2rem;
  }
}

.link-icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1.5rem;
}

.close {
  @extend %text-16;

  position: absolute;
  bottom: 7rem;
  cursor: pointer;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30rem;

  img {
    width: 4rem;
    height: 4rem;
    transform: rotate(180deg);
    object-fit: cover;
    margin-right: 0.5rem;
  }

  opacity: 0;
}
