*,
*:after,
*:before {
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: calc(100vw / 1920 * 10);
  font-weight: 400;
  line-height: 1;
  overflow: hidden;
}

body {
  @extend %text-20;

  font-family: $font-neo;
}
