@font-face {
  font-family: $font-neo;
  src: url('/fonts/nanum-square-neo-variable.woff2') format('woff2'),
    url('/fonts/nanum-square-neo-variable.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
